* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
}

#change-squares {
  margin: 20px;
  padding: 10px;
  background-color: #585858;
  color: #e8e8e8;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 640px;
  height: 640px;
}

.square {
  width: auto;
  height: auto;
  border: 1px solid #737373;
  flex-basis: 40px; 
}